<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Location</td>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <%= @event.name %>
        </td>
        <td>
          <%= @event.description %>
        </td>
        <td>
          <%= @event.location %>
        </td>
      </tr>
  </tbody>
</table>


<h3>Join this meetup!</h3>
<form action="/events/<%= @event.id %>" method="post">

  <input type="submit" />

</form>


<h3>Members</h3>
