<h1><%= @title %></h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <a href="<%= url("/events/#{event["id"]}") %>">
        <%= event.name %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/events/submit">
  <p>
    Submit a new meetup here!
  </p>
</a>
